@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #013ba7;
  --secondary: #ff5c21;
  --third: #91b5f7;
}


body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
